@model AracKiralama.Models.KiralamaIslemi

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>KiralamaIslemi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiralamaBaslangicTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiralamaBaslangicTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiralamaBaslangicSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiralamaBaslangicSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiralamaBitisTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiralamaBitisTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KiralamaBitisSaati)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KiralamaBitisSaati)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arac.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sube)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sube.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
